/* #region GENERAL */
html {
    scroll-padding-top: 10rem;
}

/* #endregion */

/* #region BACKGROUND */
.ms-bg-darkblue {
    background-color: #2c3e50;
}

.ms-bg-aquamarine {
    background-color: #1abc9c;
}

.ms-bg-blue {
    background-color: #3a546d
}

.ms-bg-aquamarine-tr {
    background-color: #1abc9c69;
}

/* #endregion */

/* #region TYPOGRAPHY */
.ms-text-aquamarine {
    color: #1abc9c;
}

.ms-text-blue {
    color: #2c3e50;
}

/* #endregion */

/* #region STAR */
.star i {
    transition: transform 1.5s, margin 1s;
}

.star::after,
.star::before {
    content: '';
    border-radius: 2rem;
    display: inline-block;
    transform: translateY(-8px);
    width: 100px;
    height: 3px;
}

#hero .star::after,
#hero .star::before,
#about .star::after,
#about .star::before {
    background-color: #ffffff;
}

#portfolio .star::after,
#portfolio .star::before,
#contact-me .star::after,
#contact-me .star::before {
    background-color: #2c3e50;
}

/* #endregion */

/* #region PORTFOLIO SECTION */
.img-hidden div {
    font-size: 5rem;
    opacity: 0;
    transition: opacity 1s;
}

/* #endregion */

/* #region CONTACT SECTION */
.form-floating [class*=form-] {
    border: none;
    border-bottom: 1px solid #cccccc;
    border-radius: 0;
}

#message {
    height: 144px;
}

/* #endregion */

/* #region FOOTER */
.social-container {
    width: 48px;
    height: 48px;
    line-height: 48px;
    transition: transform 1s;
}

/* #endregion */

/* #region EFFECT */
.star i:hover {
    margin-left: 10px;
    margin-right: 10px;
    transform: rotate(360deg);
}

.nav-item:hover .nav-link,
.social-container:hover i {
    color: #1abc9c;
}

.img-hidden:hover div {
    opacity: 1;
}

.form-control:focus {
    box-shadow: none;
}

#contact-me button[type=submit]:hover {
    background-color: #1abc9c;
    opacity: 0.7;
}

.social-container:hover {
    transform: scale(1.1);
}

/* #endregion */

/* #region SCROLLBAR */
::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: #2c3e50;
}

::-webkit-scrollbar-track {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* #endregion */

/* #region RESPONSIVE */
@media screen and (min-width:768px) {
    html {
        scroll-padding-top: 3.5rem;
    }

    #hero img {
        max-width: 20%;
    }
}

/* #endregion */