/* #region GENERAL */
html {
    scroll-padding-top: 3.25rem;
}

/* #endregion */

/* #region BACKGROUND */
.ms-bg-darkblue {
    background-color: #2c3e50;
}

.ms-bg-acquamarine {
    background-color: #1abc9c;
}

.ms-bg-blue {
    background-color: #3a546d
}

/* #endregion */

/* #region TYPOGRAPHY */
.ms-text-acquamarine {
    color: #1abc9c;
}

.ms-text-black {
    color: #333333;
}

.ms-text-blue {
    color: #2c3e50;
}

/* #endregion */

/* #region HERO SECTION */
#hero img {
    max-width: 50%;
}

/* #endregion */

/* #region PORTFOLIO SECTION */
.img-hidden {
    position: relative;
}

.img-hidden div {
    background-color: #1abc9c69;
    font-size: 5rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
}

/* #endregion */

/* #region CONTACT SECTION */
.form-floating [class*=form-] {
    border: none;
    border-bottom: 1px solid #cccccc;
    border-radius: 0;
}

#message {
    height: 144px;
}

/* #endregion */

/* #region FOOTER */
.social-container {
    width: 50px;
    height: 50px;
    line-height: 50px;
}

/* #endregion */

/* #region EFFECT */
.nav-item:hover .nav-link,
.social-container:hover i {
    color: #1abc9c;
}

.img-hidden:hover div {
    opacity: 1;
}

.form-control:focus {
    box-shadow: none;
}

button[type=submit]:hover {
    background-color: #1abc9c;
    opacity: 0.7;
}

/* #endregion */

/* #region RESPONSIVE */
@media screen and (min-width:768px) {
    #hero img {
        max-width: 20%;
    }
}

/* #endregion */